/* src/styles/global.css */
html,
body {
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  /* REMOVED justify-content: center; */
  align-items: center; /* Horizontally centers content */
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
  font-size: 20px;
  line-height: 1.8;
  color: #194b3f;
  background-image: url("/img/bg.svg");
}

a {
  color: #2274a5;
  word-wrap: break-word;
}

p {
  color: #194b3f;
  background-color: rgba(221, 255, 244, 0.5);
  padding: 10px;
  margin: 15px;
}

main {
  border: 3px dashed #4f8d7d;
}

a {
  color: #2274a5;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
