---
// src/pages/about.astro
import SwipeLayout from '../components/SwipeLayout.astro';
---
<SwipeLayout title="About Me" prevUrl="/" nextUrl="/">
  <main class="container" transition:animate="slide">
    <h1>About Me</h1>
    <p>I am a tech generalist.<br><br>Currently looking for a job. If you have one, <a href="/">here's my resume</a>.</p>
  </main>
</SwipeLayout>

<style>
  .container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    text-align: center;
  }

  p {
    color: #194b3f;
    background-color: rgba(221, 255, 244, 0.5);
    padding: 10px;
    margin: 15px;
}
</style>