---
// src/pages/about.astro
import SwipeLayout from '../components/SwipeLayout.astro';
---
<SwipeLayout title="About Me" prevUrl="/" nextUrl="/" totalPages={2} currentPage={2}>
  <main class="container" transition:animate="slide">
    <h1>About Me</h1>
    <p>I am a tech generalist.<br><br>Currently looking for a job. If you have one, <a href="/resume.pdf" target="_blank" rel="noopener">here's my resume</a>.</p>
  </main>
</SwipeLayout>

<style>
  .container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  text-align: center;
}

p {
  width: 100%;
  color: #194b3f;
  background-color: rgba(221, 255, 244, 0.5);
  padding: 10px 8px;      /* Remove left/right padding */
  margin: 15px 0;       /* Remove left/right margin */
  text-align: left;
  box-sizing: border-box;
}
</style>