---
// src/pages/about.astro
import SwipeLayout from '../components/SwipeLayout.astro';
---
<SwipeLayout title="About Me" prevUrl="/" nextUrl="/wall">
  <main class="container" transition:animate="slide">
    <h1>About Me</h1>
    <p>I am a tech generalist.<br><br>Currently looking for a job. If you've got any, <a href="resume.pdf"'>here's my resume</a>.</p>
  </main>
</SwipeLayout>

<style>
  .container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    text-align: center;
  }
</style>