---
// src/pages/index.astro
import SwipeLayout from '../components/SwipeLayout.astro';
import Header from '../components/Header.astro';
import LinkList from '../components/LinkList.astro';

const pageTitle = "Hi, I'm Stefan";
const socialLinks = [
  {
    href: 'https://stefanyas.t.me',
    name: 'Telegram',
    iconClass: 'fa-brands fa-telegram'
  },
  {
    href: 'https://github.com/stefan-yas',
    name: 'GitHub',
    iconClass: 'fa-brands fa-github'
  },
  {
    href: 'mailto:stefan@stefanyas.me',
    name: 'Email',
    iconClass: 'fa-solid fa-envelope'
  },
  {
    href: 'https://matrix.to/#/@stefan_yas:matrix.org',
    name: 'Matrix',
    iconClass: 'fa-solid fa-comments'
  },
  {
    href: 'https://mastodon.social/@stefanyas',
    name: 'Mastodon',
    iconClass: 'fa-brands fa-mastodon'
  }
];
---
<SwipeLayout title={pageTitle} nextUrl="/about" totalPages={2} currentPage={1}>
    <main class="container" transition:animate="slide">
        <Header title={pageTitle} />
        <LinkList links={socialLinks} />
    </main>
</SwipeLayout>

<style>
  .container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
  }
</style>