---
interface Props {
    totalPages: number;
    currentPage: number;
}
const { totalPages, currentPage } = Astro.props;
const pages = ['/', '/about'];
---

<div class="page-indicator">
  {Array.from({ length: totalPages }).map((_, i) => {
    const pageUrl = pages[i];
    const isCurrentPage = i + 1 === currentPage;
    return isCurrentPage ? (
      <span class="dot active"></span>
    ) : (
      <a href={pageUrl} class="dot"></a>
    );
  })}
</div>

<style>
  .page-indicator {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    background-color: rgba(217, 161, 192, 0.7);
    padding: 8px 15px;
    border-radius: 20px;
    z-index: 101;
  }
  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #594157;
    opacity: 0.5;
    transition: opacity 0.3s ease;
    display: block;
  }
  .dot.active {
    opacity: 1;
    cursor: default;
  }
  a.dot:hover {
    opacity: 0.7;
  }

  @media (max-width: 600px) {
    .page-indicator {
      left: 20px;
      bottom: 20px;
      transform: none;
    }
  }
</style>